# ==============================
# Java
# ==============================
*.class
*.jar
*.war
*.ear
hs_err_pid*

# ==============================
# Build / Output
# ==============================
out/
target/
build/

# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iml

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
